@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

.input {
  justify-self: center;
  align-self: center;
}

#label {
  display: block;
  text-align: center;
}
.container {
  display: grid;
  width: 50%;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 50vh;
}

.grid-item {
  background-color: #f1f3f5;
  display: inline block;
}

.header {
  justify-self: center;
  align-self: center;
}
