@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #f1f3f5;
}

.input {
  justify-self: center;
  align-self: center;
}

#label {
  display: block;
  text-align: center;
}

.container {
  display: grid;
  row-gap: 3vh;
  height: 100%;
}

.grid-container {
  display: grid;
  height: 50vh;
  width: 50vh;
  margin: auto;
  align-self: center;
  box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.1);
}

.grid-item {
  background-color: #fff;
  display: block;
  height: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.header {
  justify-self: center;
  align-self: center;
  font-weight: 700;
  font-size: clamp(1rem, 1.5vw, 4rem);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}

.buttons button {
  margin: 0;
  background-color: #343a40;
  color: white;
  padding: 1vh 2vw;
  border-style: none;
  border-radius: 1.25rem;
  box-shadow: 0 5px 10px 0.5px rgba(134, 142, 150, 0.25);
  width: 6vw;
  transition: box-shadow 0.3s, background-color 0.3s;
}

.buttons button:hover {
  box-shadow: 0 5px 20px 0.5px rgba(134, 142, 150, 0.5);
  background-color: #212529;
}

.buttons button:active {
  box-shadow: 0 5px 20px 0.5px rgba(134, 142, 150, 0);
}
